[include kiauh_macros.cfg]
#####################################################################
# Main
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000
max_z_velocity: 25
max_z_accel: 100

# This adds the 'respond' G-Code that you can use to send M118 commands back to host
[respond]
#[display_status]
#[pause_resume]

[mcu] # BTT-Octopus-1.1
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_260022000650534E4E313020-if00
restart_method: command
[include config/pins-btt-octopus.cfg] #board_pins & aliases

[temperature_sensor MCU-Octopus]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

#[mcu skrpro] # SKR-Pro-1.1
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_1F004C001251383438373634-if00
#restart_method: command
#[include config/pins-btt-skr-pro.cfg] #board_pins & aliases

#[temperature_sensor MCU-SKR-Pro]
#sensor_type: temperature_mcu
#sensor_mcu: skrpro
#min_temp: 10
#max_temp: 100

[thermistor my-104GT-2]
temperature1: 20
resistance1: 123000
#temperature1: 30
#resistance1: 79700
temperature2: 150
resistance2: 1855
#temperature3: 200
#resistance3: 625
temperature3: 250
resistance3: 245
#temperature3: 300
#resistance3: 80.65

######################################################################
# Fysetc Mini 12864Panel v2.1 (with neopixel backlight leds)
######################################################################

[include config/display.cfg]
[include config/display_menu.cfg]

######################################################################
# Frame Expansion Compensation
######################################################################

[include config/frame_expansion_compensation.cfg]

#####################################################################
# GCODE Macros
#####################################################################

[include macros/*.cfg]

#####################################################################
# Misc
#####################################################################

[neopixel caselight]
pin: NEOPIN
chain_count: 32
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2

[temperature_sensor RaspberryPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# virtual sd card
[virtual_sdcard]
path: ~/.virtual_sdcard/

# Support saving variables to disk
[save_variables]
filename: ~/variables.cfg

#####################################################################
# Input Shaper
#####################################################################

[include config/adxl345.cfg]

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 112.2
shaper_type_y = mzv
shaper_freq_y = 100.2

#####################################################################
# Endstop Phase
#####################################################################
# It is not valid to use this feature on a printer using a "probe:z_virtual_endstop" Z endstop as we do
# (as the stepper phase is only stable if the endstop is at a static location on a rail).
# source: https://www.klipper3d.org/Endstop_Phase.html
#[endstop_phase]

#####################################################################
# X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_EN
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min: 0
position_max: 326
homing_speed: 20

[autotune_tmc stepper_x]
motor: omc-17hm19-2004s
sg4_thrs: 104 # 255 is most sensitive value, 0 is least sensitive
[tmc2209 stepper_x]
#cs_pin: X_CS
#spi_bus: spi3a
interpolate: False
diag_pin: X_DIAG
#driver_SGTHRS: 105 # 255 is most sensitive value, 0 is least sensitive
uart_pin: X_CS
run_current: 0.9 #0.850 # OSM 17HM19-2004S
# stealthchop_threshold is the speed at which the driver switches to spreadcycle.
#stealthchop_threshold: 999999
#driver_TOFF:  3 # CHOPPER_09STEP_24V { 3, -1, 5 }
#driver_HSTRT: 4 # (5 - 1) # hstrt - 1
#driver_HEND:  2 # (-1 + 3) # hend + 3

[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_EN
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -35
position_min: -35
position_max: 290
homing_speed: 20

[autotune_tmc stepper_y]
motor: omc-17hm19-2004s
sg4_thrs: 110 #102 # 255 is most sensitive value, 0 is least sensitive
[tmc2209 stepper_y]
#cs_pin: Y_CS
#spi_bus: spi3a
interpolate: False
diag_pin: Y_DIAG
#driver_SGTHRS: 105 # 255 is most sensitive value, 0 is least sensitive
uart_pin: Y_CS
run_current: 0.9 #0.850 # OSM 17HM19-2004S
# stealthchop_threshold is the speed at which the driver switches to spreadcycle.
#stealthchop_threshold: 999999
#driver_TOFF:  3 # CHOPPER_09STEP_24V { 3, -1, 5 }
#driver_HSTRT: 4 # (5 - 1) # hstrt - 1
#driver_HEND:  2 # (-1 + 3) # hend + 3

#####################################################################
# Z Stepper Settings
#####################################################################

[motor_constants sl42sth40-1684a-23]
resistance: 1.2 # Coil resistance, Ohms
inductance: 0.0022 # Coil inductance, Henries
holding_torque: 0.3726527 # Holding torque, Nm
max_current: 1.70 # Nominal rated current, Amps
steps_per_revolution: 200 # Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)

[stepper_z]
step_pin: Z_STEP
dir_pin: !Z_DIR
enable_pin: !Z_EN
microsteps: 32 #256
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 385
homing_speed: 10

[autotune_tmc stepper_z]
motor: sl42sth40-1684a-23
[tmc2209 stepper_z]
#cs_pin: Z_CS
#spi_bus: spi3a
interpolate: False
#diag_pin: Z_DIAG
uart_pin: Z_CS
run_current: 1.000
# stealthchop_threshold is the speed at which the driver switches to spreadcycle.
#stealthchop_threshold: 999999
#driver_TOFF:  4 # CHOPPER_DEFAULT_24V { 4,  2, 1 }
#driver_HSTRT: 0 # (1 - 1) # hstrt - 1
#driver_HEND:  5 # (2 + 3) # # hend + 3

[stepper_z1]
step_pin: Z1_STEP
dir_pin: !Z1_DIR
enable_pin: !Z1_EN
microsteps: 32 #256
rotation_distance: 8

[autotune_tmc stepper_z1]
motor: sl42sth40-1684a-23
[tmc2209 stepper_z1]
#cs_pin: Z1_CS
#spi_bus: spi3a
interpolate: False
#diag_pin: Z1_DIAG
uart_pin: Z1_CS
run_current: 1.000
# stealthchop_threshold is the speed at which the driver switches to spreadcycle.
#stealthchop_threshold: 999999
#driver_TOFF:  4 # CHOPPER_DEFAULT_24V { 4,  2, 1 }
#driver_HSTRT: 0 # (1 - 1) # hstrt - 1
#driver_HEND:  5 # (2 + 3) # # hend + 3

#####################################################################
# Extruder
#####################################################################

[firmware_retraction]
retract_length: 4
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

#direct drive extruder (following active filament extruder)
#[extruder_stepper direct_drive]
#step_pin: E_STEP
#dir_pin: E_DIR
#enable_pin: !E_EN
## BMG with 3:1 ratio and 1.8 stepper
#microsteps: 16
##full_steps_per_rotation: 400
#gear_ratio: 50:17
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##	Higher value means less filament extruded
##  22.6789511 is a good starting point
#rotation_distance: 22.7545476036667 #22.6789511 #Bondtech 5mm Drive Gears

#[tmc2209 extruder_stepper direct_drive]
#uart_pin: E_CS
#run_current: 0.400
#hold_current: 0.200
## stealthchop_threshold is the speed at which the driver switches to spreadcycle.
##stealthchop_threshold: 999999
#interpolate: False
#driver_TOFF:  4 # CHOPPER_DEFAULT_24V { 4,  2, 1 }
#driver_HSTRT: 0 # (1 - 1) # hstrt - 1
#driver_HEND:  5 # (2 + 3) # # hend + 3

[extruder]
step_pin: E_STEP
dir_pin: E_DIR
enable_pin: !E_EN
# BMG with 3:1 ratio and 1.8 stepper
microsteps: 32
#full_steps_per_rotation: 400
gear_ratio: 50:17
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##	Higher value means less filament extruded
##  22.6789511 is a good starting point
rotation_distance: 22.9820930797 #22.7545476036667 #22.6789511 #Bondtech 5mm Drive Gears
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_cross_section: 5 # needed for ADAPTIVE_PURGE
max_extrude_only_distance: 1000
max_extrude_only_velocity: 100
max_extrude_only_accel: 1250
pressure_advance: 0.016
pressure_advance_smooth_time: 0.040
heater_pin: HE0
max_power: 0.70 # only 70% max
#sensor_type: ATC Semitec 104GT-2
sensor_type: my-104GT-2
sensor_pin: T0
smooth_time: 0.5
min_extrude_temp: 170
min_temp: 10
max_temp: 275
control: pid
pid_Kp=18.422
pid_Ki=0.731
pid_Kd=116.058

#[autotune_tmc extruder]
#motor: omc-17hs08-1004s
[tmc2209 extruder]
uart_pin: E_CS
run_current: 0.500 # OMC 17HS08-1004S
interpolate: False
# stealthchop_threshold is the speed at which the driver switches to spreadcycle.
#stealthchop_threshold: 999999
#driver_TOFF:  4 # CHOPPER_DEFAULT_24V { 4,  2, 1 }
#driver_HSTRT: 0 # (1 - 1) # hstrt - 1
#driver_HEND:  5 # (2 + 3) # # hend + 3

[filament_motion_sensor runout_extruder]
detection_length: 7.0 ; it sounds like 10.0 is a recomended value to prevent flow dropoff false triggers.
extruder: extruder
switch_pin: ^E0_STOP
pause_on_runout: False
runout_gcode:
  {action_respond_info("RUNOUT Motion Sensor: Filament runout extruder")}
  {% if printer['pause_resume'].is_paused|int == 0 %}
    PAUSE
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
  {% endif %}
insert_gcode:
  {action_respond_info("RUNOUT Motion Sensor: Filament inserted extruder")}

#####################################################################
# Fans
#####################################################################

[fan]
pin: FAN0
off_below: 0.1

[heater_fan extruder_fan]
pin: FAN1
max_power: 1.0
shutdown_speed: 1.0
fan_speed: 1.0
heater_temp: 50

[controller_fan octopus_fan]
pin: FAN5
max_power: 0.99
idle_timeout: 60
idle_speed: 0.8
heater: extruder, heater_bed

#####################################################################
# Heated Chamber
#####################################################################

## Stepper_Fake to fool the controller_fan.py routine; see heater_chamber_fan below
## also see: https://klipper.discourse.group/t/solved-create-controller-fan-only-linked-to-a-heater/4371
[manual_stepper stepper_fake]
step_pin: E2_STEP
dir_pin: E2_DIR
enable_pin: !E2_EN
rotation_distance: 40
#gear_ratio: 80:16
microsteps: 16

[controller_fan heater_chamber_fan]
pin: FAN2
max_power: 1.0
shutdown_speed: 1.0
fan_speed: 0.6
idle_timeout: 300
idle_speed: 0.4
heater: heater_chamber
stepper: manual_stepper stepper_fake

[heater_generic heater_chamber]
gcode_id: C
heater_pin: HE1
max_power: 1.0 #0.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: T3
min_temp: 10
max_temp: 70
#control: watermark
#max_delta: 0.1
control: pid
pid_Kp=70.417
pid_Ki=1.191
pid_Kd=1040.413

[verify_heater heater_chamber]
max_error: 120
#check_gain_time: 120
check_gain_time: 900
hysteresis: 5
heating_gain: 1

#####################################################################
# Bed, Probe & Mesh
#####################################################################

[heater_bed]
heater_pin: BED
sensor_pin: TB
sensor_type: EPCOS 100K B57560G104F
smooth_time: 0.5
min_temp: 10
max_temp: 106
control: pid
pid_Kp=327.39
pid_Ki=58.72
pid_Kd=1216.90

[verify_heater heater_bed]
# adjust for personal bed setup, this prevents stock heated bed from issuing
# false positive heating errors due to slow temperature increase
check_gain_time: 600

# The safe_z_home section modifies the default G28 behavior
#[safe_z_home]
#home_xy_position: 190,150
#speed: 50
#z_hop: 15
#z_hop_speed: 10

[include config/homing_override.cfg] #load homing_override connfig

[bltouch]
sensor_pin: ^BLT_PROBE
control_pin: BLT_SERVO
stow_on_each_sample: False
probe_with_touch_mode: True
speed: 25
lift_speed: 50
samples: 3
samples_result: median
sample_retract_dist: 1 #3.0
samples_tolerance: 0.01
samples_tolerance_retries: 10
# A larger z_offset value brings the hotend nozzle closer to the print surface.
# A smaller z_offset value will move the nozzle further away from the print surface.
#z_offset: 0.35
y_offset: 0
x_offset: -40

[z_tilt]
z_positions:
    -105, 150
    405, 150
points:
    40, 150
    325, 150
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
speed: 300
mesh_min: 5,5
mesh_max: 280,290
probe_count: 7,7
relative_reference_index: 25 # ((7*7)+1)/2 = center
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2,2.
fade_start: 1.0
fade_end: 10.0
split_delta_z: .010
#   The amount of Z difference (in mm) along a move that will trigger a split. Default is .025.
move_check_distance: 3.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default is 5.0.
algorithm: bicubic
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2
bicubic_tension: .2

##################### EOF #####################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.850
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.165000, -0.092500, -0.142500
#*# 	-0.102500, -0.047500, -0.081250
#*# 	-0.070000, 0.000000, -0.043750
#*# 	-0.020000, 0.023750, -0.012500
#*# 	0.015000, 0.071250, 0.016250
#*# tension = 0.2
#*# min_x = 105.3
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 76.02
#*# x_count = 3
#*# max_y = 224.01
#*# mesh_x_pps = 2
#*# max_x = 194.7
