# Execute gcode when a button is pressed or released (or when a pin
# changes state). You can check the state of the button by using
# QUERY_BUTTON button=my_gcode_button
#[gcode_button purge]
#pin:!auxboard:ar12
#   The pin on which the button is connected. This parameter must be
#   provided.
#press_gcode:
#   A list of G-Code commands to execute when the button is pressed.
#   G-Code templates are supported.
#release_gcode:
#   A list of G-Code commands to execute when the button is released.
#   G-Code templates are supported.
 
 
[gcode_button change]
pin:!auxboard:ar15
press_gcode: 
	{% if printer.pause_resume.is_paused == true %}
	M117 ERROR Already paused!!!
	{% else %}
	M600 
	{% endif %}
release_gcode:
 
[gcode_button pause]
pin:!auxboard:ar17
press_gcode: 
	{% if printer.pause_resume.is_paused == true %}
	M117 ERROR Already paused!!!
	{% else %}
	PAUSE_MACRO 
	{% endif %}
 
release_gcode:
 
[gcode_button resume]
pin:!auxboard:ar18
press_gcode: 
	{% if printer.pause_resume.is_paused == true %}
	RESUME_MACRO
	{% else %}
	M117 ERROR NOT paused!!! 
	{% endif %}
release_gcode:
 
[gcode_button unload]
pin:!auxboard:ar2
press_gcode: 
	{% if printer.toolhead.status == "Ready" %}
	UNLOAD
	{% else %}
	M117 ERROR NOT during printing!!! 
	{% endif %} 
release_gcode:
 
[gcode_button load]
pin:!auxboard:ar16
press_gcode: 
        {% if printer.toolhead.status == "Ready" %}
	LOAD_FILAMENT
	{% else %}
	M117 ERROR NOT during printing!!!
	{% endif %}
 
release_gcode:
 
[gcode_button purge]
pin:!auxboard:ar12
press_gcode: 
	{% if printer.toolhead.status == "Ready" %}
	PURGE
	{% else %}
	M117 ERROR NOT during printing!!! 
	{% endif %}     
release_gcode:
 
[gcode_button microup]
pin:!auxboard:ar19
press_gcode: micro_up
release_gcode:
 
[gcode_button microdown]
pin:!auxboard:ar11
press_gcode: micro_down
release_gcode:
