[gcode_macro PARKING_POSITION]
description: Macro to move hotend to parking position
#default_parameter_RAISE_Z_MIN_POSITION: 50
#default_parameter_RAISE_Z_DISTANCE: 20
#default_parameter_Z_SPEED: 600
#default_parameter_XY_SPEED: 4500
#default_parameter_PARKING_POSITION_X: 10 +- random offset
#default_parameter_PARKING_POSITION_Y: 200 +- random offset
gcode:
  {% set RAISE_Z_MIN_POSITION = params.RAISE_Z_MIN_POSITION|default(50)|int %}
  {% set RAISE_Z_DISTANCE = params.RAISE_Z_DISTANCE|default(20)|int %}
  {% set Z_SPEED = params.Z_SPEED|default(600)|int %}
  {% set XY_SPEED = params.XY_SPEED|default(4500)|int %}
  {% set PARKING_POSITION_X = params.PARKING_POSITION_X|default(10 + (range(-5, 5) | random) )|int %}
  {% set PARKING_POSITION_Y = params.PARKING_POSITION_Y|default(200 + (range(-50, 10) | random) )|int %}

  SAVE_GCODE_STATE NAME=STATE_PARK
  {% set MAX_Z = (printer.configfile.config["stepper_z"]["position_max"] | min) %}
  {% if 'z' in printer.toolhead.homed_axes %}
    G90 ; Absolute positioning
    # Go to Z parking position
    {% if printer.gcode_move.gcode_position.z < MAX_Z %}
      M118 PARKING_POSITION: Z position in known, raising Z...
      # Raise Z
      {% if printer.gcode_move.gcode_position.z > RAISE_Z_MIN_POSITION %}
        {% set new_z_pos = ([(printer.gcode_move.gcode_position.z + (RAISE_Z_DISTANCE | float) ), MAX_Z] | min) %}
        M118 PARKING_POSITION: Z axis was below MAX_Z, raising to {new_z_pos}
        G1 Z{new_z_pos} F{Z_SPEED}
      {% else %}
        {% set new_z_pos = ([([(printer.gcode_move.gcode_position.z + (RAISE_Z_DISTANCE | float)), (RAISE_Z_MIN_POSITION | float) ] | max), MAX_Z] | min) %}
        M118 PARKING_POSITION: Z axis was below MAX_Z, raising to {new_z_pos}
        G1 Z{new_z_pos} F{Z_SPEED}
      {% endif %}
    {% endif %}
  {% else %}
    M118 PARKING_POSITION: Z position is unknown, raising not possible
  {% endif %}
  {% if ('x' in printer.toolhead.homed_axes) and ('y' in printer.toolhead.homed_axes) %}
    # Go to XY parking position
    G1 X{PARKING_POSITION_X} Y{PARKING_POSITION_Y} F{XY_SPEED}
  {% else %}
    M118 PARKING_POSITION: X and/or Y position is unknown, parking not possible
  {% endif %}
  RESTORE_GCODE_STATE NAME=STATE_PARK


#####################################################################
#####################################################################
   
[gcode_macro PARKCENTER]
description: Park head at center of printer
gcode:
  {% set PARK_X = (printer.configfile.config["stepper_x"]["position_max"] | float) / 2 %}
  {% set PARK_Y = (printer.configfile.config["stepper_y"]["position_max"] | float) / 2 %}
  LAZY_HOME ;home if not already homed
  PARKING_POSITION PARKING_POSITION_X={PARK_X} PARKING_POSITION_Y={PARK_Y}

[gcode_macro PARKFRONTL]
description: Park head at front-left of printer
gcode:
  {% set PARK_X = (printer.configfile.config["stepper_x"]["position_min"] | float) + 5 %}
  {% set PARK_Y = (printer.configfile.config["stepper_y"]["position_min"] | float) + 5 %}
  LAZY_HOME ;home if not already homed
  PARKING_POSITION PARKING_POSITION_X={PARK_X} PARKING_POSITION_Y={PARK_Y}

[gcode_macro PARKFRONTR]
description: Park head at front-right of printer
gcode:
  {% set PARK_X = (printer.configfile.config["stepper_x"]["position_max"] | float) - 5 %}
  {% set PARK_Y = (printer.configfile.config["stepper_y"]["position_min"] | float) + 5 %}
  LAZY_HOME ;home if not already homed
  PARKING_POSITION PARKING_POSITION_X={PARK_X} PARKING_POSITION_Y={PARK_Y}

[gcode_macro PARKREARL]
description: Park head at rear-left of printer
gcode:
  {% set PARK_X = (printer.configfile.config["stepper_x"]["position_min"] | float) + 5 %}
  {% set PARK_Y = (printer.configfile.config["stepper_y"]["position_max"] | float) - 5 %}
  LAZY_HOME ;home if not already homed
  PARKING_POSITION PARKING_POSITION_X={PARK_X} PARKING_POSITION_Y={PARK_Y}

[gcode_macro PARKREARR]
description: Park head at rear-right of printer
gcode:
  {% set PARK_X = (printer.configfile.config["stepper_x"]["position_max"] | float) - 5 %}
  {% set PARK_Y = (printer.configfile.config["stepper_y"]["position_max"] | float) - 5 %}
  LAZY_HOME ;home if not already homed
  PARKING_POSITION PARKING_POSITION_X={PARK_X} PARKING_POSITION_Y={PARK_Y}
  
#####################################################################
#                   Added Items to the Stock menu                   #
#####################################################################
[menu __main __control __park_pos]
type: input
enable: {not printer.idle_timeout.state == "Printing"}
index: 0
name: Parkat: {['Center','Front-L','Front-R','Rear-L', 'Rear-R'][menu.input|int]}
input: 0
input_min: 0
input_max: 4
gcode:
  {%- if menu.event == 'long_click' -%}
    {%- if menu.input|int == 1 -%}
      PARKFRONTL
    {%- elif menu.input|int == 2 -%}
      PARKFRONTR
    {%- elif menu.input|int == 3 -%}
      PARKREARL
    {%- elif menu.input|int == 4 -%}
      PARKREARR
    {%- else -%}
      PARKCENTER
    {%- endif -%}
  {%- endif -%}
